* {
  box-sizing: border-box;
}

.main-page {
  border: 3px solid black;
  text-align: center;
  background-color: lightcoral;
}

.main-title {
  border-bottom: 10px solid white;
  margin: 10px auto;
}