* {
  box-sizing: border-box;
}

.main-page {
  border: 3px solid black;
  text-align: center;
  background-color: lightcoral;
  margin: 5px;
}

.main-title {
  border-bottom: 10px solid whitesmoke;
  margin: 10px auto;
}

.intro {
  border-bottom: 10px solid whitesmoke;
}